/*
* 2016-01
* for GJ RWD design course
* created by Hui Fang Wu
* http://www.fionawu.url.tw/
*/
.bgc-pink-100 {
  background-color: #FF0065;
}

.bgc-pink-90 {
  background-color: #ff3384;
}

.bgc-pink-80 {
  background-color: #ff4d93;
}

.bgc-pink-70 {
  background-color: #ff80b2;
}

.bgc-pink-60 {
  background-color: #ffb3d1;
}

.bgc-blue-100 {
  background-color: #00558D;
}

.bgc-blue-90 {
  background-color: #0074c0;
}

.bgc-blue-80 {
  background-color: #0092f3;
}

.bgc-blue-70 {
  background-color: #27a9ff;
}

.bgc-blue-60 {
  background-color: #5abdff;
}

.bgc-lightBlue-100 {
  background-color: #29ABE2;
}

.bgc-lightBlue-90 {
  background-color: #56bde8;
}

.bgc-lightBlue-80 {
  background-color: #83ceee;
}

.bgc-lightBlue-70 {
  background-color: #99d7f1;
}

.bgc-lightBlue-60 {
  background-color: #b0e0f4;
}

.bgc-indigo-100 {
  background-color: #171949;
}

.bgc-indigo-90 {
  background-color: #1d205c;
}

.bgc-indigo-80 {
  background-color: #292d83;
}

.bgc-indigo-70 {
  background-color: #363aaa;
}

.bgc-indigo-60 {
  background-color: #4c51c7;
}

.bgc-cyan-100 {
  background-color: #007d7d;
}

.bgc-cyan-90 {
  background-color: #009797;
}

.bgc-cyan-80 {
  background-color: #00caca;
}

.bgc-cyan-70 {
  background-color: #00fdfd;
}

.bgc-cyan-60 {
  background-color: #31ffff;
}

.bgc-violet-100 {
  background-color: #8a2be2;
}

.bgc-violet-90 {
  background-color: #9e4fe7;
}

.bgc-violet-80 {
  background-color: #b273ec;
}

.bgc-violet-70 {
  background-color: #c89bf1;
}

.bgc-violet-60 {
  background-color: #d9bbf6;
}

.bgc-orchild-100 {
  background-color: #bf3eff;
}

.bgc-orchild-90 {
  background-color: #c758ff;
}

.bgc-orchild-80 {
  background-color: #d071ff;
}

.bgc-orchild-70 {
  background-color: #dd9aff;
}

.bgc-orchild-60 {
  background-color: #ebc3ff;
}

.bgc-deepOrange-100 {
  background-color: #ff410f;
}

.bgc-deepOrange-90 {
  background-color: #ff5529;
}

.bgc-deepOrange-80 {
  background-color: #ff6942;
}

.bgc-deepOrange-70 {
  background-color: #ff8a6b;
}

.bgc-deepOrange-60 {
  background-color: #ffaa94;
}

.bgc-orange-100 {
  background-color: #F7931E;
}

.bgc-orange-90 {
  background-color: #f89c32;
}

.bgc-orange-80 {
  background-color: #f9ab4f;
}

.bgc-orange-70 {
  background-color: #fabe77;
}

.bgc-orange-60 {
  background-color: #fbcc94;
}

.bgc-golden-100 {
  background-color: #FFCC00;
}

.bgc-golden-90 {
  background-color: #ffd429;
}

.bgc-golden-80 {
  background-color: #ffda47;
}

.bgc-golden-70 {
  background-color: #ffe066;
}

.bgc-golden-60 {
  background-color: #ffe98f;
}

.bgc-green-100 {
  background-color: #228B22;
}

.bgc-green-90 {
  background-color: #2aac2a;
}

.bgc-green-80 {
  background-color: #30c430;
}

.bgc-green-70 {
  background-color: #42d142;
}

.bgc-green-60 {
  background-color: #63d963;
}

.bgc-yellowGreen-100 {
  background-color: #9BE52A;
}

.bgc-yellowGreen-90 {
  background-color: #ace94e;
}

.bgc-yellowGreen-80 {
  background-color: #b9ed6a;
}

.bgc-yellowGreen-70 {
  background-color: #c6f085;
}

.bgc-yellowGreen-60 {
  background-color: #d7f5a9;
}

.bgc-seaGreen-100 {
  background-color: #43CD80;
}

.bgc-seaGreen-90 {
  background-color: #63d696;
}

.bgc-seaGreen-80 {
  background-color: #7bdca6;
}

.bgc-seaGreen-70 {
  background-color: #94e2b6;
}

.bgc-seaGreen-60 {
  background-color: #b4ebcc;
}

.bgc-black-100 {
  background-color: #000;
}

.bgc-black-90 {
  background-color: #0d0d0d;
}

.bgc-black-80 {
  background-color: #1a1a1a;
}

.bgc-black-70 {
  background-color: #404040;
}

.bgc-black-60 {
  background-color: #333333;
}

.bgc-gray-100 {
  background-color: #7a7a7a;
}

.bgc-gray-90 {
  background-color: #949494;
}

.bgc-gray-80 {
  background-color: #adadad;
}

.bgc-gray-70 {
  background-color: #c7c7c7;
}

.bgc-gray-60 {
  background-color: #ededed;
}

.bgc-stateGray-100 {
  background-color: #6C7B8B;
}

.bgc-stateGray-90 {
  background-color: #8895a2;
}

.bgc-stateGray-80 {
  background-color: #a4aeb9;
}

.bgc-stateGray-70 {
  background-color: #c1c8cf;
}

.bgc-stateGray-60 {
  background-color: #eceef0;
}

.bgc-tan-100 {
  background-color: #CD853F;
}

.bgc-tan-90 {
  background-color: #d89f67;
}

.bgc-tan-80 {
  background-color: #e2b890;
}

.bgc-tan-70 {
  background-color: #edd2b8;
}

.bgc-tan-60 {
  background-color: #f3e2d1;
}

.bgc-lightSalmon-100 {
  background-color: #8B5742;
}

.bgc-lightSalmon-90 {
  background-color: #ad6d53;
}

.bgc-lightSalmon-80 {
  background-color: #be8a75;
}

.bgc-lightSalmon-70 {
  background-color: #cea898;
}

.bgc-lightSalmon-60 {
  background-color: #d8b9ad;
}

.bgc-brown-100 {
  background-color: #8B2323;
}

.bgc-brown-90 {
  background-color: #b42d2d;
}

.bgc-brown-80 {
  background-color: #d04444;
}

.bgc-brown-70 {
  background-color: #da6d6d;
}

.bgc-brown-60 {
  background-color: #e08585;
}

.bgc-red-100 {
  background-color: #BB1515;
}

.bgc-red-90 {
  background-color: #e61d1d;
}

.bgc-red-80 {
  background-color: #e83434;
}

.bgc-red-70 {
  background-color: #ed6262;
}

.bgc-red-60 {
  background-color: #f28787;
}

.bgc-white {
  background-color: #fff;
}

/*
//
font color
//
*/
.text-pink-100 {
  color: #FF0065;
}

.text-pink-90 {
  color: #ff3384;
}

.text-pink-80 {
  color: #ff4d93;
}

.text-pink-70 {
  color: #ff80b2;
}

.text-pink-60 {
  color: #ffb3d1;
}

.text-blue-100 {
  color: #00558D;
}

.text-blue-90 {
  color: #0074c0;
}

.text-blue-80 {
  color: #0092f3;
}

.text-blue-70 {
  color: #27a9ff;
}

.text-blue-60 {
  color: #5abdff;
}

.text-lightBlue-100 {
  color: #29ABE2;
}

.text-lightBlue-90 {
  color: #56bde8;
}

.text-lightBlue-80 {
  color: #83ceee;
}

.text-lightBlue-70 {
  color: #99d7f1;
}

.text-lightBlue-60 {
  color: #b0e0f4;
}

.text-indigo-100 {
  color: #171949;
}

.text-indigo-90 {
  color: #1d205c;
}

.text-indigo-80 {
  color: #292d83;
}

.text-indigo-70 {
  color: #363aaa;
}

.text-indigo-60 {
  color: #4c51c7;
}

.text-cyan-100 {
  color: #007d7d;
}

.text-cyan-90 {
  color: #009797;
}

.text-cyan-80 {
  color: #00caca;
}

.text-cyan-70 {
  color: #00fdfd;
}

.text-cyan-60 {
  color: #31ffff;
}

.text-violet-100 {
  color: #8a2be2;
}

.text-violet-90 {
  color: #9e4fe7;
}

.text-violet-80 {
  color: #b273ec;
}

.text-violet-70 {
  color: #c89bf1;
}

.text-violet-60 {
  color: #d9bbf6;
}

.text-orchild-100 {
  color: #bf3eff;
}

.text-orchild-90 {
  color: #c758ff;
}

.text-orchild-80 {
  color: #d071ff;
}

.text-orchild-70 {
  color: #dd9aff;
}

.text-orchild-60 {
  color: #ebc3ff;
}

.text-deepOrange-100 {
  color: #ff410f;
}

.text-deepOrange-90 {
  color: #ff5529;
}

.text-deepOrange-80 {
  color: #ff6942;
}

.text-deepOrange-70 {
  color: #ff8a6b;
}

.text-deepOrange-60 {
  color: #ffaa94;
}

.text-orange-100 {
  color: #F7931E;
}

.text-orange-90 {
  color: #f89c32;
}

.text-orange-80 {
  color: #f9ab4f;
}

.text-orange-70 {
  color: #fabe77;
}

.text-orange-60 {
  color: #fbcc94;
}

.text-golden-100 {
  color: #FFCC00;
}

.text-golden-90 {
  color: #ffd429;
}

.text-golden-80 {
  color: #ffda47;
}

.text-golden-70 {
  color: #ffe066;
}

.text-golden-60 {
  color: #ffe98f;
}

.text-green-100 {
  color: #228B22;
}

.text-green-90 {
  color: #2aac2a;
}

.text-green-80 {
  color: #30c430;
}

.text-green-70 {
  color: #42d142;
}

.text-green-60 {
  color: #63d963;
}

.text-yellowGreen-100 {
  color: #9BE52A;
}

.text-yellowGreen-90 {
  color: #ace94e;
}

.text-yellowGreen-80 {
  color: #b9ed6a;
}

.text-yellowGreen-70 {
  color: #c6f085;
}

.text-yellowGreen-60 {
  color: #d7f5a9;
}

.text-seaGreen-100 {
  color: #43CD80;
}

.text-seaGreen-90 {
  color: #63d696;
}

.text-seaGreen-80 {
  color: #7bdca6;
}

.text-seaGreen-70 {
  color: #94e2b6;
}

.text-seaGreen-60 {
  color: #b4ebcc;
}

.text-black-100 {
  color: #000;
}

.text-black-90 {
  color: #0d0d0d;
}

.text-black-80 {
  color: #1a1a1a;
}

.text-black-70 {
  color: #404040;
}

.text-black-60 {
  color: #333333;
}

.text-gray-100 {
  color: #7a7a7a;
}

.text-gray-90 {
  color: #949494;
}

.text-gray-80 {
  color: #adadad;
}

.text-gray-70 {
  color: #c7c7c7;
}

.text-gray-60 {
  color: #ededed;
}

.text-stateGray-100 {
  color: #6C7B8B;
}

.text-stateGray-90 {
  color: #8895a2;
}

.text-stateGray-80 {
  color: #a4aeb9;
}

.text-stateGray-70 {
  color: #c1c8cf;
}

.text-stateGray-60 {
  color: #eceef0;
}

.text-tan-100 {
  color: #CD853F;
}

.text-tan-90 {
  color: #d89f67;
}

.text-tan-80 {
  color: #e2b890;
}

.text-tan-70 {
  color: #edd2b8;
}

.text-tan-60 {
  color: #f3e2d1;
}

.text-lightSalmon-100 {
  color: #8B5742;
}

.text-lightSalmon-90 {
  color: #ad6d53;
}

.text-lightSalmon-80 {
  color: #be8a75;
}

.text-lightSalmon-70 {
  color: #cea898;
}

.text-lightSalmon-60 {
  color: #d8b9ad;
}

.text-brown-100 {
  color: #8B2323;
}

.text-brown-90 {
  color: #b42d2d;
}

.text-brown-80 {
  color: #d04444;
}

.text-brown-70 {
  color: #da6d6d;
}

.text-brown-60 {
  color: #e08585;
}

.text-red-100 {
  color: #BB1515;
}

.text-red-90 {
  color: #e61d1d;
}

.text-red-80 {
  color: #e83434;
}

.text-red-70 {
  color: #ed6262;
}

.text-red-60 {
  color: #f28787;
}

.text-white {
  color: #fff;
}
